* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: var(--main-surface-tertiary) transparent;
}

body {
    background:
        url('mainPageImage/backGroundImage.png'),
        linear-gradient(to bottom, #1c1c1c, #454545);
        background-blend-mode: overlay;
    background-position: center;
    background-size: auto;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}

footer {
    display: inline-block;
}

.mazdaLogo {
    background-image: url(mainPageImage/mazdaLogo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: right;
    margin-left: 3rem;
}

header {
    max-width: 1140px;
    margin: 0 auto;
    
}

.navigation {
    display: flex;
    justify-content: space-between;
}

nav ul {
    background-color: #000000e0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    row-gap: 0.8rem;
    transition: all .1s linear ;
    position: absolute;
    left: 0;
    right: 0;
}

nav ul li {
    
}

nav ul li a {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffffc4;
    text-decoration: none;
    text-transform: uppercase;
}
.collapsibleContent {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: all .1s linear;
}

.collapsible--expanded .collapsibleContent {
    max-height: 100vh;
    padding: 1rem 0;
    margin-top: 0.5rem;
}

.menuButtom {
    display: flex;
    justify-content: right;
}
.menuButtom img {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    margin: 2rem 2rem 0 0;
}

.hero {
  width: 100%;
  height: 70vw;
}

.heroImg {
    width: 100%;
    height: 100%;
    background-image: url(mainPageImage/MazdaRX7FrontScreenMobileVersion.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.heroText h1 {
    font-size: 1.8rem;
    font-weight: bold; 
    color: #FFFFFF; 
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    letter-spacing: 1.5px; 
    padding: 1rem 1rem;
}

main .contenerForSliders {
    display: flex;
    padding: 1rem 0;
    width: 100%;
    height: auto;
    align-items: center;
    position: relative;
}

.hiddenPhoto {
    margin: 0 auto;
    width: 70vw;
    overflow: hidden;
    box-shadow: 0px 0px 14px 4px rgb(0 0 0 / 80%);
}

main .slider {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;
}

main .slider img {
    width: 100%;
    height: 100%;
}

.buttomForSlider {
    display: flex;
    align-items: center;    
    position: absolute;
    width: 100%;

}

.sliderNavPrev {
    display: flex;
    position: absolute;
    z-index: 20;
    cursor: pointer;
    left: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid rgb(0 0 0 / 66%);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    align-items: center;
    margin: 0 0 0 1rem;
}

.sliderNavNext {
    display: flex;
    position: absolute;
    cursor: pointer;
    right: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid rgb(0 0 0 / 66%);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    align-items: center;
    margin: 0 1rem 0 0;
}

.sliderNavPrev:active .sliderNavNext:active {
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

.engineSection {
    width: 100%;
    height: 70vw;
}

.wankelImg {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(mainPageImage/engineWankel.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.wankelText h1 {
    margin: 2rem 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #1c1c1c; 
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.wankelButtom {
    display: flex;
    position: absolute;
    left: 1.5rem;
    width: 8rem;
    height: 3rem;
    background-color: #1c1c1c;
    margin: 7.5rem 0;
}

.wankelButtomText {
    font-size: 1rem;
    margin: 2px 3px;
}
/*

@media screen and (min-width: 1023px) {
    header {
        display: flex;
        padding: 10px;
        padding-top: 0;
        padding-left: 12.5vw;
        padding-right: 12.5vw;
        justify-content: space-between;
    }

    nav ul {
        list-style: none;
        display: flex;
        padding-top: 50px;
        padding-bottom: 25px;
    }

    nav ul li {
        margin-left: 4.5vw;
    }

    nav ul li a {
        text-decoration: none;
        color: #f5f5f5;
        font-weight: bold;
        font-size: 1.2rem;
        padding-right: 50px;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }

    .mazdaLogo {
        background-image: url(mainPageImage/mazdaLogo.png);
        width: 7rem;
        height: 7rem;
        padding-left: 20px;
        padding-top: 20px;
        display: flex;
    }

    .heroImg {

    }
}



